:root {
  --primary-bg-color: #a16464;
  --text-color: #ffffff;
  --main-bg-color: #0d3b66;
  --main-text-color: #000000;
  --main-btn-bg-color: #f4d35e;
  --btn-text-color: black;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Hanalei Fill;
  font-size: 5rem;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: linear-gradient(
    189deg,
    rgba(244, 211, 94, 1) 0%,
    rgba(102, 102, 102, 1) 0%,
    rgba(244, 211, 94, 1) 100%
  );
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Header styling */
header {
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: auto;
  color: var(--main-btn-bg-color);
}
/* timer styling*/
#timer-display {
  font-family: "Press Start 2P";
  font-size: 3rem;
  background-color: black;
  color: var(--main-btn-bg-color);
  border-radius: 7px;
  padding: 0.7rem;
}

/* Media player styling */
.media-player {
  display: flex; /* vertical stack */
  flex-direction: column; /* timer first, controls second */
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  padding-bottom: 0.6rem;
}

.custom-controls {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  opacity: 0.8;
}

/* study Session goals header and Add button side-by-side */
section {
  display: flex;
  /* so that the list can wrap to the next line */
  flex-wrap: wrap;
  align-items: center;
  border-radius: 6px;
  padding: 1rem;
}

/* lay out the study session goals and button in one line */
#goals-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5 rem;
}

/* i wanted the list to be under the study sessions goals text and the Add goals button, flex basis: 100 will fill  the row and push it down.
I encountered a problem where the positioning of "study session goals" and the add goal button would change after adding an item.
to avoid that i just put it outside of the <section>*/
#goals-list {
  flex-basis: 100%;
  margin-top: 0.5rem;
  list-style: none;
}
#goals-list li button,
#add-goal {
  margin-left: 1rem;
  padding: 0.1rem;
  font-size: 1rem;
  background-color: var(--main-btn-bg-color);
  border: none;
  border-radius: 6px;
  margin: 0.7rem;
  color: var(--main-text-color);
  opacity: 0.8;
}
/**/
#list-name {
  background-color: var(--main-text-color);
  border-radius: 6px;
  padding: 0.7rem;
}
/* this is styling for the goals list items, i had to do this anyway since i wanted to make the items in the list look centered vertically */
#goals-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: var(--main-text-color);
  border-radius: 6px;
}

/* Footer styling */
footer {
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 0.9rem;
}

/*styling the sliders i just adjusted teh things i saw in the youtube tutorial, it also reminded me i could make the buttons more interactive
so while I was making the slider i also added some more interactivity.*/
#slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgb(244, 211, 94) 60%,
    rgb(102, 102, 102, 1) 60%
  );
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
}

.slider:hover,
#goals-list li button:hover,
#add-goal:hover,
.custom-controls button:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb,
#goals-list li button,
#add-goal,
.custom-controls button {
  cursor: pointer;
}
/*i only did google chrome because for this class we aren't using other browsers*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
